.speech{font-family: 'Times New Roman', Times, serif;
    font-size: 35;
    color: black;}
.direction{font-family: 'Gill Sans';
    font-size: 50;
    color: black;
    background-color: azure;}
.direction:hover{background-color: lavender;
    color: brown}
.IMP{color: blue;
    font-size: 50px;}
.Former_Poor{color:yellowgreen;
             font-size: 50px;}
.Judge{color:blueviolet;
       font-size: 50px;}
.Rich_citizen{color:tomato;
              font-size: 50px;}
.Vain_woman{color:yellowgreen;
              font-size:50px}
table{font-size: 10px;
    font-family: 'Times New Roman';
    border-collapse: collapse;
    width: 20px;
    margin: 10px solid black;
    border: 2px solid black;
}
tr,th,td{border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 2px solid black;
    width: fit-content;
    height: 10%;
    
}
tr:nth-child(even){
    background-color: thistle;
}